<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>juge</title>
</head>
<body>       
    <secton class="section">
    <div class="box">
    <div class="field">
        <form method="post">
        {% csrf_token %}
        <label class="label">Nom demandeur</label>
        <div class="control">
          <input class="input" type="text" name="nom_demandeure" placeholder="Text input">
        </div>

        <label class="label">Nom</label>
        <div class="control">
          <input class="input" type="text" name="nom" placeholder="Text input">
        </div>

        <label class="label">Local</label>
        <div class="control">
          <input class="input" type="text" name="local" placeholder="Local">
        </div>

        <label class="label">Nom du demandeur</label>
        <div class="control">
          <input class="input" type="text" name="nom_demandeur" placeholder="Nom du demandeur">
        </div>

        <label class="label">om avocat2</label>
        <div class="control">
          <input class="input" type="text" name="om avocat2" placeholder="om avocat 2">
        </div>

        <label class="label">om avocat2</label>
        <div class="control">
          <input class="input" type="text" name="nom avocat2" placeholder="om avocat 2">
        </div>

        <label class="label">Nom du notaire:</label>
        <div class="control">
          <input class="input" type="text" name="nom_notaire" placeholder="om avocat 2">
        </div>
        <label class="label">Date invitation:</label>
        <div class="control">
          <input class="input" type="text" name="date_invitation" placeholder="nom avocat 2">
        </div>
        <label class="label">Num invitation::</label>
        <div class="control">
          <input class="input" type="text" name="num_inivation" placeholder="nom avocat 2">
        </div>

        <label class="label">vehicul_type:</label>
        <div class="control">
          <input class="input" type="text" name="vehicul_type" placeholder="nom avocat 2">
        </div>


        <label class="label">matricule:</label>
        <div class="control">
          <input class="input" type="text" name="matricule" placeholder="nom avocat 2">
        </div>

        <label class="label">Date accident:</label>
        <div class="control">
          <input class="input" type="date" name="date_accident" placeholder="date_accident">
        </div>

        <label class="label">Lieu accident:</label>
        <div class="control">
          <input class="input" type="text" name="lieu_accident" placeholder="lieu_accident">
        </div>

        <label class="label">Nom proces:</label>
        <div class="control">
          <input class="input" type="text" name="nom_proces" placeholder="lieu_accident">
        </div>

        <label class="label">Date Pv:</label>
        <div class="control">
          <input class="input" type="text" name="date_pv" placeholder="lieu_accident">
        </div>

        <label class="label">Source Pv:</label>
        <div class="control">
          <input class="input" type="text" name="source_pv" placeholder="lieu_accident">
        </div>

        <label class="label">Description Accident:</label>
        <div class="control">
          <input class="input" type="text" name="description_acc" placeholder="lieu_accident">
        </div>

        <label class="label">Numero Ordonance:</label>
        <div class="control">
          <input class="input" type="text" name="num_ordonance" placeholder="lieu_accident">
        </div>

        <label class="label">Date Ordonance:</label>
        <div class="control">
          <input class="input" type="text" name="date_ordonance" placeholder="lieu_accident">
        </div>

        <label class="label">Type Verhicule:</label>
        <div class="control">
          <input class="input" type="text" name="type_vehicule" placeholder="lieu_accident">
        </div>
        

        
        <label class="label">Date Expertise:</label>
        <div class="control">
          <input class="input" type="text" name="date_expertise" placeholder="lieu_accident">
        </div>


        
        <label class="label">Dmg Materiel</label>
        <div class="control">
          <input class="input" type="text" name="dmg_materiel" placeholder="lieu_accident">
        </div>


        
        <label class="label">Numero du dossier:</label>
        <div class="control">
          <input class="input" type="text" name="numero_dossier" placeholder="lieu_accident">
        </div>


        
        <label class="label">Nom Avocat 1</label>
        <div class="control">
          <input class="input" type="text" name="nom_avocat1" placeholder="lieu_accident">
        </div>



        
        <label class="label">Nom avocat 2:</label>
        <div class="control">
          <input class="input" type="text" name="nom_avocat2" placeholder="lieu_accident">
        </div>



        
        <label class="label">Date Pleorie:</label>
        <div class="control">
          <input class="input" type="date" name="date_pledoirie" placeholder="lieu_accident">
        </div>

        <label class="label">Nom avocat:</label>
        <div class="control">
          <input class="input" type="text" name="type_vehicule" placeholder="lieu_accident">
        </div>
      </div>
   
      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
      </div>
      
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" type="reset">Cancel</button>
        </div>
      </div>
      </div>
    </form>
      </secton>




      
</body>
</html>




