<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <title>Document</title>
</head>
<body>


<p>

    المدّعي :
{{des.nom}},المعين محل مخابرته بمكتب محاميه الاستاذ {{des.avocat}} والكائن مقره {{des.avocat}}.

</p>

<p>
    من جهة
والمدّعى عليها:
{{des.nom_demandeur}} في شخص ممثلها القانوني ينوبها الأستاذ {{des.nom_avocat2}} والكائن مقره{{des.local2}}.
من جهة ثانية

</p>

<p>

    بمقتضى عريضة الدعوى المقدّمة من نائب المدّعي مع ما يفيد دفع المعاليم القانونيّة والمبلّغة للمدّعى عليها بتاريخ {{des.date_invitation}} بواسطة عدل التنفيذ {{nom_notaire}} حسب رقيمه عدد {{num_invitation}}  المتضمّن استدعاءها للحضور بالجلسة المقرّر انعقادها يوم [date de la premiére cour] وذلك للنظر في الدعوى المرفوعة ضدّها والآتي بيان موضوعها.


</p>

<h1>مــــوضــــوع الــــــدعـــــــوى</h1>

<p>
    يعرض المدعي أن {{des.vehicule_type}} ذات الرقم المنجمي {{des.matricule}} والتابعة له تعرضت إلى حادث مرور في {{des.date_accident}} ب{{des.lieu_accident}}  مما هو ثابت من محضر البحث الجزائي عدد {{des.nom_proces}} الصادر في {{daes.date_pv}} من قبل {{des.source_pv}}
و حيث تتثمثل صورة الحادث في [description accident]
و حيث تم تكليف الخبير في الميكانيك {{des.nom_expert}} بمقتضى اذن على عريضة  {{des.num_ordonance}} بتاريخ {{des.date_ordonance}} و عاين الخبير المنتدب ال    {{des.type_vehicule}} في {{des.date_expertise}} منتهيا إلى كون الأضرار تقدر ب        {{des.dmg_materiel}}
لذا يطلب المدعي إلزام {{des.nom_demander}} بوصفها تحل محل معاقدها في الأداء بأن تؤدي له المبالغ التالية:

</p>

<h1>الإجـــــــــــــــــــــــــــــــــــراءات</h1>

<p>
    وبموجب ذلك رسمت القضيّة بالدفتر المعدّ لنوعها تحت عدد {{des.numero_dossier}} وتمّ نشرها بالجلسة المبيّن تاريخها بالاستدعاء وبها حضر الأستاذ {{des.nom_avocat1}} و تمسك وحضر الأستاذ {{des.nom_avocat2}}  وأعلن نيابته ثم تتالى نشر القضية بجلسات أخرى اقتضاها سيرها آخرها جلسة المرافعة المنعقدة يوم {{des.date_pledoirie}} وبها حضر الاستاذ {{des.nom_avocat1}} وحضر الاستاذ {{des.nom_avocat2}} وتمسكا.
إثر ذلك قرّرت المحكمة حجز القضيّة للمفاوضة والتّصريح بالحكم بجلسة الطّالع وبها وبعد الاطّلاع على أوراق القضيّة والمفاوضة طبق القانون صرّح علنا بالحكم الآتي بيانه سندا ونصّا	:

</p>

<h1>الـــــــمــــــــســـــــتــــــــنــــــــدات</h1>
<p>
    حيث تهدف الدعوى إلى الحكم وفق الطلبات المضمّنة بعريضتها.
وحيث أدلى المدّعي تأييدا لدعواه ب:
1/ أصل رقيم الاستدعاء للجلسة.
2/ أصل إذن على عريضة.
3/ أصل محضر إعلام بإذن على عريضة.
4/ أصل تقرير اختبار.
5/ نسخة مطابقة للأصل من محضر بحث جزائي

</p>

<h1>الــــــــمـــــحـــكـــــمـــة</h1>

<h3>حيث تهدف الدعوى الى القضاء بإلزام المدعى عليها في شخص ممثلها القانوني بأن تؤدي للمدعي المبالغ التالية :</h3>

<p>
    {{des.dmg_materiel}}  لقاء الأضرار اللاحقة بالسيارة
[cout expertise] مصاريف اختبار
 [honoraire avovat demandés] لقاء أتعاب تقاضي و  أجرة محاماة
 [cout invitaion] لقاء محضر استدعاء للجلسة
[honoraire avocat ordonnance demandés] أجرة محاماة في اذن على عريضة 
[cout invitation expertise] أجرة استدعاء لاجراء عملية اختبار وحمل المصاريف القانونية على المحكوم عليها.

</p>


<p>
    وحيث تعرضت ال{{des.type_vehicule}} التابعة للطالبة إلى حادث مرور بتاريخ         {{des.date_accident}} تمثل في  [description accident]و المؤمنة لدى المطلوبة.

</p>


<p>
    وحيث ما تجدر الإشارة إليه في البداية وان مناط هذه الدعوى هو القانون عدد 86 لسنة 2005 المؤرخ في 15-8-2005 الذي اقتضى في الفقرة الخامسة من الفصل 121 انه:  "...لا تنطبق أحكام هذا الباب على الأضرار المادية التي تلحق العربة البرية ذات محرك"  على إلا أن ذلك الإقصاء كان من مجال الباب الثاني من القانون عدد 86 لسنة 2005  وعليه فاستبعاد المشرع لانطباق أحكام الباب الثاني من نفس القانون على الأضرار المادية اللاحقة بالعربات كان في طريقة تحديد التعويض دون المساس بالمسؤولية التي تبقى خاضعة للمقاييس المبينة بجدول تحديد المسؤوليات الملحق بالقانون والمنصوص عليه بالفصل 123 من نفس القانون .

</p>

<p>
    وحيث يتأكد ذلك من أحكام الفقرة الأخيرة من الفصل 121من م  التامين إذ ورد بها :" "وتعوض تلك الأضرار حسب نسبة المسؤولية غير المحمولة على السائق سواء كانت العربة على ملكه أو على ملك غيره " وانه حسب الوضع اللغوي فان عبارة " تلك الأضرار " تعود على الأضرار المادية للعربة إذ أضاف المشرع بالفقرة الأخيرة " سواء كانت العربة على ملكه  أو على ملك غيره " فعبارة العربة لم ترد بالفصل 121 إلا في الفقرتين الخامسة والسادسة  وهو تأكيد يرمي من ورائه المشرع إلى تكريس مبدأ التعويض عن الأضرار حسب نسبة المسؤولية سواء كان مالكها هو السائق أو غيره وما كان المشرع ليلجأ لهذا لو كان الأمر يتعلق بالأضرار البدنية فقط.

</p>


<p>
    وحيث أن التنصيص بالفقرة الخامسة من الفصل 121 من م التامين على عدم انطباق أحكام هذا الباب على الأضرار المادية يجب أن يفهم بضميمة الفقرة السادسة من الفصل المذكور ذلك  أن قانون 2005 أرسى نظام المسؤولية الموضوعية لتعويض الأضرار البدنية  وان الاستثناء الوارد بالفقرة السادسة من الفصل 121 يعني استثناء للمسؤولية الموضوعية عند التعويض عن الضرر المادي اللاحق بالعربة فحققت الفقرة المذكورة أن التعويض يتم على أساس المسؤولية الشخصية المؤسسة على الخطأ وبذلك يتبين أن المشرع قد وضع نظاما قانونيا جديدا للتعويض عن الأضرار المادية للعربات يعتمد نسبة مسؤولية الأطراف المشاركة في الحادث . 

</p>


<p>
    وحيث انه والحالة ما ذكر فان البت في مسالة مدى مساهمة السائق في حصول الحادث وعليه تحمل تبعة فعله حسب نسبة المسؤولية المحمولة عليه بغية التوصل الى تعويض عادل يقتضي ضرورة  إعمال قاعدة الفصل 83 من م.ا.ع وعليه توزيع المسؤولية حسب الجدول الملحق بالفصل 123 من مجلة التامين.
و حيث ثبت من خلال من محضر بحث جزائي عدد {{des.num_pv}} بتاريخ [date P.V] عن {{des.source_pv}} الخطاء المنسوب في سائق الوسيلة المؤمنة لدى المطلوبة و المتمثل في [description faute] و بالتالي قيام مسؤولية هذا الأخير.

</p>

<p>
    وحيث اقتضى الفصل 83 منم.ا.ع أن:" من تسبب في مضرة غيره خطا سواء كانت المضرة حسية آو معنوية فهو مسؤول بخطئه إذا ثبت انه السبب الوحيد الموجب للمضرة مباشرة "
وحيث اقتضى الفصل 107 منم.ا.ع أن :" الخسارة الناشئة عن جنحة  أو شبهها تشمل ما تلف حقيقة لطالبها  وما صرفه أو لا بد أن يصرفه لتدارك عواقب الفعل المضر به  والأرباح المعتادة التي حرم منها  بسبب ذلك الفعل  وتقدير الخسارة  من المحكمة يختلف  باختلاف سبب الضرر  من كونه تغريرا  أو خطا "
و حيث أن الوسيلة المتسببة في الحادث مؤمنة لدى المطلوبة و تأمينها ساري المفعول من [periode d’assurance]

</p>

<p>
    وحيث انه وطالما ثبت وان العربة مؤمنة لدى المطلوبة فقد اتجه تبعا إلزامها بالتعويض  للمدعي وتحميلها كامل المسؤولية عن الحادث.
وحيث تم تكليف الخبير في الميكانيك {{des.nom_expert}} بمقتضى الاذن على العريضة عدد {{des.num_ordonance}}بتاريخ {{des.date_ordonance}}
و حيث عاين الخبير المنتدب السيارة محل القضية بتاريخ [date expertise] 
</p>

    
</body>
</html>